:root {
    --monospace-font: "JetBrains Mono", Menlo, Consolas, monospace;
    /*--system-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;*/
    /*--heading-font-family: var(--system-font);*/

    /*--spacing-50: 4px;*/
    /*--spacing-100: 8px;*/
    /*--spacing-200: 12px;*/
    /*--spacing-300: 16px;*/
    /*--spacing-400: 24px;*/
    /*--spacing-500: 32px;*/
    /*--spacing-600: 48px;*/
    /*--spacing-700: 64px;*/
    /*--spacing-800: 96px;*/
    /*--spacing-900: 128px;*/
    /*--spacing-950: 192px;*/

    /*--font-50: 12px;*/
    /*--font-100: 14px;*/
    /*--font-200: 16px;*/
    /*--font-300: 18px;*/
    /*--font-400: 20px;*/
    /*--font-500: 24px;*/
    /*--font-600: 30px;*/
    /*--font-700: 36px;*/
    /*--font-800: 48px;*/
    /*--font-900: 60px;*/
    /*--font-950: 72px;*/

    /*--line-height: 1.5;*/
    /*--heading-line-height: 1.25;*/
    /*--radius: 6px;*/

    /*--container-sm: 768px;*/
    /*--container-md: 960px;*/
    /*--container-lg: 1024px;*/
    /*--container-xl: 1200px;*/
    /*--container-xxl: 1400px;*/
    /*--container-xxxl: 1800px;*/
    /*--main-menu-width: 260px;*/
    /*--page-menu-width: var(--main-menu-width);*/
    /*--header-height: 60px;*/
    /*--body-grid-template-columns: var(--main-menu-width) minmax(0, 1fr);*/
    /*--body-grid-template-columns-xl: var(--main-menu-width) minmax(0, 1fr) var(--page-menu-width);*/
    /*--main-menu-grid-row: 2;*/
    /*--main-menu-grid-column: 1;*/
    /*--main-grid-row: 2;*/
    /*--main-grid-column: 2;*/
    /*--dialog-width: 500px;*/
    /*--api-docs-first-column-min-width: 320px;*/
    /*--api-docs-second-column-min-width: 240px;*/

    /*color-scheme: light dark;*/

    /*!* theme colors — light-dark(light-value, dark-value) *!*/
    /*--primary: light-dark(hsl(199, 95%, 74%), #81cfe0);*/
    --background: light-dark(hsl(0, 0%, 100%), hsl(240, 6%, 10%));
    --text-color: light-dark(hsl(240, 5%, 26%), hsl(240, 5%, 85%));
    /*--text-hover: light-dark(#282828, #FFF);*/
    --heading-color: light-dark(hsl(240, 6%, 10%), hsl(0, 0%, 100%));
    --code-background: light-dark(hsl(0, 0%, 98%), hsl(240, 4%, 16%));
    --code-color: light-dark(hsl(201, 90%, 27%), hsl(199, 95%, 74%));
    /*--header-background: light-dark(#f9fbfc, #0c1318);*/
    /*--header-border: light-dark(#e8ecf1, #3a3a42);*/
    /*--header-link-color: var(--text-color);*/
    /*--mobile-menu-background: var(--header-background);*/
    /*--menu-color: var(--text-color);*/
    --menu-item-hover-background: light-dark(hsl(204, 94%, 95%), hsl(202, 80%, 14%));
    /*--menu-item-hover-color: var(--menu-color);*/
    /*--doc-tip-background: light-dark(#F7F7F7, #2e293a);*/
    /*--link-color: light-dark(#4871f7, #c5eff7);*/
    /*--link-hover: #91aafa;*/
    /*--search-background: light-dark(rgb(229, 231, 235), #020202);*/
    /*--nav-category: light-dark(rgb(156, 163, 175), rgb(207, 211, 215));*/
    /*--scrollbar-track-background: #424242;*/
    /*--scrollbar-track-border: #4A4A4A;*/
    /*--scrollbar-thumb-background: #686868;*/
    /*--shadow-color: hsla(0, 0%, 0%, .1);*/
    /*--main-shadow-color: hsla(0, 0%, 0%, .025);*/
    --aside-background: var(--background);
    /*--blockquote-bacground-color: (hsl(214, 100%, 97%);*/
    /*--blockquote-color: var(--text-color);*/
    --on-this-page-color: var(--menu-color);
    --page-menu-background-color: var(--header-background);
    --page-menu-background-border-color: var(--header-background);
    /*--page-menu-background-hover-border-color: var(--text-color);*/
    /*--nav-item-border-color: var(--header-border);*/
    /*--nav-item-active-border-color: var(--text-color);*/
    /*--dialog-background-color: var(--header-background);*/
    /*--dialog-empty-color: var(--nav-category);*/
    /*--dialog-icon-color: var(--text-color);*/
    /*--dialog-link-color: var(--link-color);*/
    /*--dialog-link-hover-color: var(--header-background);*/
    /*--dialog-link-hover-background-color: var(--link-hover);*/
    --code-fence-border-color: hsla(0, 0%, 0%, .1);

    /*--header-brand-text-transform: none;*/
}

code {
    font-variant-ligatures: normal;
}

#fsdocs-main-menu {
    border-right-color: var(--background);
}
